@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --main-color: #20C0D4;

    --main-bg-color: #EEEEEE;

    --margin-breakpoint-sm: 1em;
    
    --sidebar-width: 16.25rem;

    --header-text-color: #FEFDFD;
}

* , *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

html {
    font-size: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

 a:link, a:visited {
	text-decoration: none;
}

.container {
	display: grid;
	/* grid-template-columns: 16.25rem auto; */
	grid-template-rows: 3.75rem auto;
	grid-template-areas:
		"header"
		"main";
        
    min-height: 100vh;
    overflow: hidden;
}

/* || HEADER STYLES */

.header {
	grid-area: header;

	/* display: grid;
    grid-template-columns: 16.25rem auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.7em;
    padding-inline: var(--margin-breakpoint-sm);
	background-color: var(--main-color);
	box-shadow: 0px 7px 10px #a7dae0;
    font-size: 1rem;
	color: var(--header-text-color);
    z-index: 2;
}

.company {
	display: flex;
    justify-content: center;
	align-items: center;
    column-gap: 0.7em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
}

.header__menu--open {
    font-size: 1em !important;
}

.company__logo {
    /* width: 2em;
    height: 2em; */
}

.header__user {
    display: block;
    position: relative;
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    margin-inline: auto 0.5em;
    /* background-color: white; */
    border-radius: 5px;
    /* overflow: hidden; */
}

.header__user-avatar {
    height: 100%;
    background-color: inherit;
    
}

.header__user-avatar > img {
    height: 100%;
    clip-path: circle(50% at 50% 50%);
    background-color: white;
}

.header__user-info {
    position: absolute;
    right: 0;
    width: 100%;
    display: none;
    /* display: flex; */
    flex-direction: column; /* change */
    align-items: center;
    row-gap: 0.5em;
    /* column-gap: 1.5em; */
    /* margin-inline: 1em; */
    background-color: white; /* change */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--main-color);
    border: 1px solid black;
    border-radius: 5px;
}

.header__user-info > * {
    padding-block: 0.5em;
}

.header__user-info > *:not(:last-child) {
    border-bottom: 1px solid #a9afbb;
}

.header__user-info a {
    position: relative;
    display: flex;
	align-items: center;
    
    color: inherit;
}

.header__user-info a i {
    font-size: 1.125em;
}

.header__user-info a[notification]::after {
    content: attr(notification);
    display: flex;
	justify-content: center;
    align-items: center;
    position: absolute;
    top: -50%;
    right: -45%;
	width: 1.4em;
    height: 1.4em;
    padding: 0.18em;
    background-color: #ff3333;
	border-radius: 50%;
	color: white;
	font-size: 0.75em;
}

.logout > span {
    display: none;
}

.btn-transparent {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    background-color: transparent;
    border: none;
    font-size: 0.75em;
    font-family: inherit;
    letter-spacing: 0.025em;
    color: inherit;
    cursor: pointer;
}

.btn-transparent[icon]::after {
    display: block;
    font-family: "Material Icons";
    content: attr(icon);
    font-size: 1.5em;
}

/* || SIDEBAR STYLES */

.sidebar {
	position: fixed;
    display: none;
    flex-direction: column;
    height: 100%;
	padding-inline: 0.875em 1em;
	background: #fdfdff;
	box-shadow: 5px 0px 10px #d7d7d7;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	color: #3c4858;
	font-size: 1rem;
}

.sidebar__menu--close{
    align-self: flex-end;
    padding-block: 3px;
    font-size: 1em;
}

.user {
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    padding-block: 1.7em;
	border-bottom: 1px solid #dfe1e2;
    font-size: 1em;
	color: #a9afbb;
}

.user__avatar {
	width: 4em;
	height: 4em;
	border-radius: 50%;
}

.user__greetings {
    display: flex;
    flex-direction: column;

}

.username {
	font-size: 1.2em;
	font-weight: 600;
	color: #3c4858;
}

/* || SIDEBAR - NAVIGATIOM  */

.sidebar-navigation ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.625em;
	list-style: none;
}

.sidebar-navigation ul > li a {
    display: flex;
	align-items: center;
    column-gap: 0.7em;
    padding-inline: 1.25em;
    padding-block: 0.9em 1.1em;
    color: #a9afbb;
    font-size: 0.875em;
    letter-spacing: 0.025em;
}

.sidebar-navigation ul > li a::before {
    font-family: "Material Icons";
    content: attr(icon);
    font-size: 1.5em;
}

.sidebar-navigation ul > li a[notification]::after {
    content: attr(notification);
    display: flex;
	justify-content: center;
    align-items: center;
	width: 1.4em;
    height: 1.4em;
    padding: 0.18em;
    background-color: #ff3333;
	border-radius: 50%;
	color: white;
	font-size: 0.9em;
}

.sidebar-navigation ul > li a.active {
	color: #ffffff;
	background-color: #24c5d9;
	border-radius: 3px;
	box-shadow: 0px 17px 10px -10px #afe8f1;
}

/* || MAIN CONTENT STYLES */

.main {
	grid-area: main;

    padding: var(--margin-breakpoint-sm);
	background: var(--main-bg-color);
    overflow-y: scroll;
}

.dashboard {
	display: flex;
	flex-direction: column;
}

.main__header {
	padding-bottom: 1em;
    color: #3c4858;
}

.dashboard__stats{
	display:grid;
    grid-template-columns: repeat(2, 1fr);
	/* grid-template-columns: repeat(auto-fill, minmax(7em, 1fr)); */
	gap: 1em;
    grid-auto-flow: row;
	/* height: 140px; */
}

.stat {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 1em;
	background-color: white;
	border-radius: 3px;
	box-shadow: 5px 5px 10px #d7d7d7, -5px -5px 10px #d7d7d7;
}

.stat__icon {
    display: flex;
    justify-content: center;
    align-items: center;
	width: auto;
    height: 100%;
	aspect-ratio: 1 / 1;
    color: white;
	border: none;
	border-radius: 3px;
}

.stat__icon i {
    display: block;
    font-size: 2.25em;
}

.stat__data {
    align-self: flex-start;
	max-width: min-content;
	color: #a9afbb;
	font-size: 0.8em;
    line-height: 1.3em;
	text-align: right;
	/* padding: 33px 29px 25px 5px; */
}

.stat__data span {
    display: block;
	color: #3c4858;
	font-size: 2em;
    font-weight: 600;
}

#doctor {
	background-color: #ea4642;
	box-shadow: 0px 8px 15px -7px #ea4642;
}

#operation {
	background-color: #1dbed3;
	box-shadow: 0px 8px 15px -7px #1dbed3;
}

#birth {
	background-color: #56af5b;
	box-shadow: 0px 8px 15px -7px #56af5b;
}

#death {
	background-color: #fb8e03;
	box-shadow: 0px 8px 15px -7px #fb8e03;
}

.dashboard__graph {
    grid-column: span 2;
    padding: 1em;
    background-color: white;
}

.graph1, .graph2, .graph3 {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 30px;
}

.graph1 section, .graph2 section, .graph3 section {
	height: 377px;
	margin-top: 37px;
	padding: 32px;
	background-color: white;
	box-shadow: 5px 5px 10px #d7d7d7, -5px -5px 10px #d7d7d7;
}

@media only screen and (min-width: 600px) {
    .header__user {
        display: contents;
    }
    
    .header__user-avatar {
        display: none;
    }
    
    .header__user-info {
        position: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 1.5em;
        width: auto;
        margin-inline: auto 1em;
        background-color: inherit;
        border: none;
        color: white;
    }

    .header__user-info > * {
        padding: 0;
    }

    .logout > span {
        display: unset;
    }

    .stat__data {
        font-size: 1.2em;
        line-height: 1.5em;
    }

}

@media only screen and (min-width: 768px) {
    
    .dashboard__stats {
        grid-template-columns: repeat(4, 1fr);
    }

    .stat__data {
        font-size: 1em;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        grid-template-columns: 13rem auto;
        grid-template-areas:
		"header header"
		"aside main";
    }

    .header__user-info {
        margin-inline: auto 0;
    }

    .header__menu--open {
        display: none !important;
    }

    .sidebar {
        grid-area: aside;
        position: relative;
        display: flex;
        row-gap: 1.7em;
        z-index: 1;
    }

    .sidebar__menu--close{
        display: none;
    }

    .user {
        display: flex;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        grid-template-columns: 16.25rem auto;
    }
    
    .company {
        padding-left: 1.25rem;
    }
    

    .main {
        padding: 1.6em 2em;
    }

    .main__header {
        padding-bottom: 1.6em;

    }

    .dashboard__stats{
        gap: 1.8em
    }

    .stat {
        padding: 1.6em;
    }

    .stat__data {
        font-size: 1.25em;
    }
}