@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* , *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

html {
    font-size: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.material-icons.md-18 { font-size: 18px;}
.material-icons.md-24 { font-size: 24px;}
.material-icons.md-40 { font-size: 40px;}
.zmdi.md-40 { font-size: 40px;}

 a:link, a:visited {
	text-decoration: none;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 260px auto;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"header header"
		"aside main";
}

/* header style */

.header {
	grid-area: header;

	display: grid;
    grid-template-columns: 260px auto;
    padding-block: 0.7em;
	background: #20c0d4;
	box-shadow: 0px 7px 10px #a7dae0;
    font-size: 1rem;
	color: #fefdfd;
    z-index: 2;
}

.logo {
	display: flex;
    justify-content: center;
	align-items: center;
    column-gap: 0.7em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.250em;
}

.logo-img {
    width: 2em;
    height: 2em;
}

.user-info {
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    margin-inline: auto 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.user-info a {
    display: flex;
	align-items: center;
    position: relative;
    color: inherit;
}

.user-info a i {
    font-size: 1.125em;
}

.user-info a[notification]::after {
    content: attr(notification);
    display: flex;
	justify-content: center;
    align-items: center;
    position: absolute;
    top: -50%;
    right: -45%;
	width: 1.4em;
    height: 1.4em;
    padding: 0.18em;
    background-color: #ff3333;
	border-radius: 50%;
	color: white;
	font-size: 0.75em;
}

.btn-transparent {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    background-color: transparent;
    border: none;
    font-size: 0.75em;
    letter-spacing: 0.025em;
    color: inherit;
    cursor: pointer;
}

.btn-transparent[icon]::after {
    font-family: "Material Icons";
    content: attr(icon);
    font-size: 1.5em;
}

/* sidebar style */

.sidebar {
	grid-area: aside;

    display: flex;
    flex-direction: column;
    row-gap: 1.7em;
	padding-inline: 0.875em 1em;
	background: #fdfdff;
	box-shadow: 5px 0px 10px #d7d7d7;
	z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	color: #3c4858;
	font-size: 1rem;
}

.user {
	display: flex;
    align-items: center;
    column-gap: 1em;
    padding: 1.7em 1.4em;
	border-bottom: 1px solid #dfe1e2;
    font-size: 1em;
	color: #a9afbb;
}

.user__avatar {
	width: 4em;
	height: 4em;
	border-radius: 50%;
}

.user__greetings {
    display: flex;
    flex-direction: column;

}

.username {
	font-size: 1.2em;
	font-weight: 600;
	color: #3c4858;
}

/* sidebar - nav menu */

.sidebar-navigation ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.625em;
	list-style: none;
}

.sidebar-navigation ul > li a {
    display: flex;
	align-items: center;
    column-gap: 0.7em;
    padding-inline: 1.25em;
    padding-block: 0.9em 1.1em;
    color: #a9afbb;
    font-size: 0.875em;
    letter-spacing: 0.025em;
}

.sidebar-navigation ul > li a::before {
    font-family: "Material Icons";
    content: attr(icon);
    font-size: 1.5em;
}

.sidebar-navigation ul > li a[notification]::after {
    content: attr(notification);
    display: flex;
	justify-content: center;
    align-items: center;
	width: 1.4em;
    height: 1.4em;
    padding: 0.18em;
    background-color: #ff3333;
	border-radius: 50%;
	color: white;
	font-size: 0.9em;
}

.sidebar-navigation ul > li a.active {
	color: #ffffff;
	background-color: #24c5d9;
	border-radius: 3px;
	box-shadow: 0px 17px 10px -10px #afe8f1;
}

main {
	grid-area: main;
	background: #eeeeee;
	padding: 0 32px 37px 31px;
}

.dashboard {
	display: flex;
	flex-direction: column;
}

.dashboard > header {
	width: 100%;
	padding: 27px 0;
}

.dashboard > header > span {
	color: #3c4858;
	font-size: 24px;
}

.stats{
	display:grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-gap: 30px;
	height: 140px;
}

.stats section {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border-radius: 3px;
	box-shadow: 5px 5px 10px #d7d7d7, -5px -5px 10px #d7d7d7;
}

.stats button {
	width: 86px;
	height: 86px;
	margin: 27px;
	border: none;
	border-radius: 3px;
}

.stats button i {
	color: white;
}

.stats p {
	width: 130px;
	color: #a9afbb;
	font-size: 20px;
	text-align: right;
	line-height: 23px;
	padding: 33px 29px 25px 5px;
}

.stats strong {
	color: #3c4858;
	font-size: 40px;
}

#doctor {
	background-color: #ea4642;
	box-shadow: 0px 8px 15px -7px #ea4642;
}

#operation {
	background-color: #1dbed3;
	box-shadow: 0px 8px 15px -7px #1dbed3;
}

#birth {
	background-color: #56af5b;
	box-shadow: 0px 8px 15px -7px #56af5b;
}

#death {
	background-color: #fb8e03;
	box-shadow: 0px 8px 15px -7px #fb8e03;
}

.graph1, .graph2, .graph3 {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 30px;
}

.graph1 section, .graph2 section, .graph3 section {
	height: 377px;
	margin-top: 37px;
	padding: 32px;
	background-color: white;
	box-shadow: 5px 5px 10px #d7d7d7, -5px -5px 10px #d7d7d7;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    
  }